#topwiki-bg{
  display: flex;
  flex-direction: column;
  
  margin-top: 10rem;
  width: calc(80vw);
  max-width: 60rem;
  
  background-color: white;
  padding-right: 0.9rem;
}

#topwiki-container{
  padding: 2.5rem;
}

#project-name{
  font-family: 'Lobster';
  color: white;
  font-size: 1.7rem;

  left: 1rem;
  top: 1rem;
}

#title{
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: #374650;
}

#config-row{
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
}

#config{
  cursor: pointer;
  width: 80%;
  height: 3rem;
  background-color: #008CFF;
  border-radius: 0.3rem;
  margin-right: 0.7rem;
}

.config-side{
  cursor: pointer;
  margin: 0 0.7rem;
  width: 8%;
  height: 3rem;
  background-color: #008CFF;
  border-radius: 0.3rem;

  /* For Mobile */
  min-width: 3.5rem;
}

#feedback-col{
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 5rem;

  padding: 0.5rem 0rem;
  /*padding-left: 0.9rem;*/
  padding-right: 0.9rem;
  margin-top: 1rem;

  background-color: #017FE6;
  color: white;
}

#solutions-t{}