.root-container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.left-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;

  background-color: #007BDF;
  color: white;

  padding: 1rem;
  width: 18rem;
  height: 100%;
}

.right-container{
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  margin-left: 18rem;
  width: 100%;
}

.dyn-wiki{
  width: 4.5rem;
  height: auto;
}

.category-span{
  color: #374650;
  font-family: 'Alef', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.search{
  display: flex;
}

.search-input{
  width: 100%;
}

.input{
  color: white !important;
  border-color: red !important;
}

.input:focus{
  color: white!important;
  border-color: red !important;
}

.search-button{
  color: white
}

ul{
  margin-left: -35px;
}

a{
  color: white;
  text-decoration: none;
}

.list-article{
  line-height: 400%
}

.list-article li{
  line-height: 130%
}

/* MOBILE ONLY */
@media only screen and (max-width: 768px){
  .root-container{
    flex-direction: column;
  }

  .left-container{
    display: flex;
    flex-direction: column;
    position: relative;
  
    background-color: #007BDF;
    color: white;
  
    padding: 1rem;
    min-width: 100vw;
    height: 100%;
  }

  .right-container{
    margin-left: 0rem;
  }

  .list-root{
    display: none;
  }
}

a:hover{
  background: none;
  color:inherit
}